@charset "utf-8";
@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

/* common */

html{font-family:'Noto Sans KR',sans-serif;color:#222222;
    /* Support for all WebKit browsers. */-webkit-font-smoothing:antialiased;
    /* Support for Safari and Chrome. */text-rendering:optimizeLegibility;
    /* Support for Firefox. */-moz-osx-font-smoothing:grayscale;}
#main{padding:70px 0px 0px 230px;transition:padding 0.3s;}
#main.wide{padding-left:0px;}
div h3{font-size:20px;line-height:30px;margin-bottom:20px;font-weight:700;}
.main_wrapper{padding:20px;padding-bottom:90px;}
.main_wrapper>.column_1{margin-top:0px;}
footer{position:absolute;bottom:0px;left:0px;width:100%;padding:20px 0px;padding-left:230px;background:#fefefe;box-sizing:border-box;transition:padding-left 0.3s;}
footer p{font-size:12px;color:#888888;text-align:center;}
#skip.fixed{position:fixed;top:-41px;left:0px;width:100%;font-size:16px;color:#ffffff;line-height:40px;text-align:center;background:rgba(0, 0, 0, 0.6);border-bottom:1px solid #ffffff;z-index:10000;transition:top 0.3s;}
#skip.fixed:focus{top:0px;}

/* index */
#login{position:absolute;top:0px;left:0px;width:100vw;height:100vh;background:#6077e7;z-index:90;}
#login .login_info{width:100vw;height:45vh;background:#ffffff;position:relative;}
#login .login_info img{width:initial;max-width:initial;position:absolute;}
#login .login_info img:nth-child(1){top:20vw;left:50%;margin-left:-96px;}
#login .login_info img:nth-child(2){bottom:0px;left:50%;margin-left:-130px;}
#login .login_wrapper{width:100vw;height:55vh;background:#6077e7;}
#login input, #login button{display:block;border:none;background:none;margin:0px;padding:0px;font-family:'Noto Sans KR',sans-serif;}
#login input::placeholder{color:rgba(255,255,255,0.7);}
#login .login_form{width:76vw;height:30vh;margin:auto;padding-top:5vh;box-sizing:border-box;}
#login .login_form label{display:block;width:15%;height:7vh;min-width:20px;border-bottom:1px solid #ffffff;float:left;}
#login .login_form label:nth-child(1){background:url(../img/common/id_bg.jpg) no-repeat center center;}
#login .login_form label:nth-child(3){background:url(../img/common/pw_bg.jpg) no-repeat center center;margin-bottom:4vh;}
#login .login_form input[type="text"], #login .login_form input[type="password"]{width:80%;height:7vh;font-size:2vh;color:#ffffff;line-height:7vh;padding-left:5%;border-bottom:1px solid #ffffff;float:left;}
#login .login_form button[type="submit"]{width:100%;height:6vh;line-height:6vh;background:#f3d623;border-radius:3vh;font-size:1.8vh;font-weight:700;color:#ffffff;letter-spacing:1px;margin-top:2vh;box-shadow:0px 2px 10px rgba(0,0,0,0.3);transition:all 0.3s ease-in;}
#login .login_form button[type="submit"]:hover{background:#73cffa;color:#6077e7;}

/* gnb */
.wrapper{position:relative;min-width:1200px;min-height:100vh;overflow:hidden;background:#f9f9f9;}
header{position:fixed;top:0px;left:0px;width:100%;height:70px;z-index:1000;}
.header{width:100%;height:100%;background-image:linear-gradient(to right,#6077e7,#4447b2);overflow:auto;}
#logo{width:210px;height:50px;margin:10px;background:url('../img/common/modu_logo.jpg') no-repeat center center;background-size:contain;cursor:pointer;float:left;}
#logo a{display:block;width:100%;height:100%;}
.header .gnb_btn{position:absolute;top:20px;left:240px;width:30px;height:30px;}
.header .gnb_btn a{display:block;width:100%;height:100%;text-align:center;border:1px solid #ffffff;}
.header .gnb_btn a.fold i{transform:rotate(180deg);}
.header .gnb_btn a i{font-size:28px;color:#ffffff;line-height:30px;}
.header .util_wrapper{width:500px;height:100%;float:right;font-size:16px;color:#ffffff;font-weight:700;line-height:70px;text-align:center;}
.header .util_wrapper .notification{width:30px;height:100%;position:relative;float:left;}
.header .util_wrapper .notification a{display:block;width:100%;height:100%;}
.header .util_wrapper .notification .numbers{width:20px;height:20px;position:absolute;top:14px;right:-6px;background:#70d1ed;border-radius:10px;line-height:20px;font-size:12px;}
.header .util_wrapper .notification .mail_box{width:30px;height:100%;background:url(../img/common/mail.png) no-repeat center center;background-size:contain;}
.header .util_wrapper .member_info{width:240px;height:100%;float:left;margin-left:30px;}
.header .util_wrapper .member_info .member_photo{width:40px;height:40px;float:left;border-radius:20px;overflow:hidden;background:url(../img/common/profile.png) no-repeat center center;border:1px solid #ffffff;box-sizing:border-box;margin-top:15px;}
.header .util_wrapper .member_info .member_id{width:99px;height:100%;float:left;border-right:1px solid #ffffff;}
.header .util_wrapper .member_info .member_out{width:99px;height:100%;float:left;border-right:1px solid #ffffff;}
.header .util_wrapper .member_info .member_out a{display:block;width:100%;height:100%;}
.header .util_wrapper .member_info .member_out a i{margin-left:10px;}
.header .util_wrapper .out_link{width:200px;height:100%;float:left;}
.header .util_wrapper .out_link a{display:block;width:100%;height:100%;}
.header .util_wrapper .out_link a i{margin-left:10px;}
.gnb{position:fixed;top:70px;left:0;width:230px;height:100%;background:#effaff;z-index:100;}
.gnb.off{left:-230px;}
.gnb li{width:100%;height:auto;}
.gnb li a{display:block;width:100%;height:40px;line-height:36px;}
.gnb>ul>li>a{padding:2px 20px;box-sizing:border-box;letter-spacing:3px;font-size:16px;font-weight:700;background:#d5f6ff;}
.gnb>ul>li>a.on>i:nth-child(2){transform:rotate(180deg);margin-right:3px;}
.gnb>ul>li>a>i:nth-child(2){float:right;line-height:36px;}
.gnb .sub_menu{width:100%;display:none;}
.gnb>ul>li>a.on~.sub_menu{display:block;}
.gnb .sub_menu li a{padding:0px 40px;box-sizing:border-box;font-size:14px;font-weight:700;}
.gnb .sub_menu li a.on, .gnb .sub_menu li a:hover{background:#dddddd;}

/* main */
.dash_chart{width:60%;height:100%;float:left;}
.chart_wrapper{width:100%;padding:20px;box-sizing:border-box;}
.chart_wrapper ul{height:200px;border-bottom:1px solid #888888;}
.chart_wrapper li{width:8%;height:100%;margin:0px 3%;position:relative;text-align:center;white-space:nowrap;background:#d5f6ff;float:left;}
.chart_wrapper li:nth-child(1) .bar{height:100px;}
.chart_wrapper li:nth-child(2) .bar{height:20px;}
.chart_wrapper li:nth-child(3) .bar{height:180px;}
.chart_wrapper li:nth-child(4) .bar{height:80px;}
.chart_wrapper li:nth-child(5) .bar{height:140px;}
.chart_wrapper li:nth-child(6) .bar{height:20px;}
.chart_wrapper li:nth-child(7) .bar{height:60px;}
.chart_wrapper .day{position:relative;display:inline-block;width:100%;height:20px;line-height:20px;margin:0px -100% -20px 0px;padding:200px 0px 0px 0px;vertical-align:bottom;color:#6077e7;font-size: 13px;font-weight:700;}
.chart_wrapper .bar{position:relative;display:inline-block;width:100%;margin:-1px 0px 0px -3px;background:#4447b2;vertical-align:bottom;}
.chart_wrapper .bar span{position:absolute;width:100%;top:-20px;left:0px;font-size:12px;font-weight:700;color:#4447b2;}
.dash_num{width:40%;height:100%;float:left;}
.num_wrapper{width:100%;padding:20px;box-sizing:border-box;}
.num_wrapper p{font-size:15px;font-weight:700;line-height:30px;}
.num_wrapper p span{margin-left:10px;color:#6077e7;font-weight:700;}
.num_wrapper .bg{display:inline-block;width:100%;height:10px;margin:0px 5px 0px 0px;background:#d5f6ff;}
.num_wrapper .rate{display:inline-block;height:10px;background:#4447b2;margin:-1px;position:relative;top:-10px;}
.num_wrapper span:nth-child(2) .rate{width:40%;}
.num_wrapper span:nth-child(4) .rate{width:60%;}
.num_wrapper span:nth-child(6) .rate{width:20%;}
.num_wrapper span:nth-child(8) .rate{width:32%;}
.timeline_con{width:100%;height:60px;}
.timeline_con .con_img{width:40px;height:40px;margin:10px;background:url(../img/common/profile.png) no-repeat center center;background-color:#888888;border-radius:20px;border:1px solid #888888;box-sizing:border-box;float:left;}
.timeline_con .con_text{width:calc(100% - 60px);float:left;}
.timeline_con .con_des{font-size:16px;font-weight:700;line-height:40px;}
.timeline_con .con_date{font-size:14px;line-height:20px;color:#888888;}
.list{width:100%;}
.list th{font-size:16px;font-weight:700;background:#d5f6ff;}
.list td{font-size:14px;font-weight:700;border-bottom:1px solid #d5f6ff;}
.list th, .list td{padding:10px;text-align:center;line-height:25px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.list td a{display:block;width:100%;height:100%;overflow:hidden;text-overflow:ellipsis;}
.list td a:hover{color:#4447b2;}

/* layout */
.layout{margin:10px 0px;padding:20px;min-height:100px;background:#ffffff;border:1px solid#dddddd;box-sizing:border-box;}
.column_1{width:100%;}
.column_2{width:49%;float:left;}
.column_2:nth-child(2){margin-left:2%;}
.column_2_1{width:32%;float:left;}
.column_2_2{width:66%;float:left;}
.column_2_1:nth-child(2){margin-left:2%;}
.column_2_2:nth-child(2){margin-left:2%;}
.column_3{width:32%;float:left;}
.column_3:nth-child(2), .column_3:nth-child(3){margin-left:2%;}

/* button */
.btn{position:relative;display:inline-block;min-width:100px;height:30px;font-size:14px;font-weight:700;line-height:28px;vertical-align:middle;box-sizing:border-box;text-align:center;white-space:nowrap;margin:0px;padding:0px 5px;cursor:pointer;overflow:hidden;border:1px solid #dddddd;background:#ffffff;}
.btn:active{box-shadow:2px 1px 2px 1px rgba(0,0,0,0.2) inset;}
.left{text-align:left;}
.right{text-align:right;}
.center{text-align:center;}
.btn.xsmall{min-width:40px;height:22px;line-height:20px;font-size:12px;}
.btn.small{min-width:80px;height:28px;line-height:26px;font-size:13px;}
.btn.medium{min-width:110px;height:34px;line-height:32px;font-size:15px;}
.btn.large{min-width:150px;height:46px;line-height:44px;font-size:20px;}
.btn.paleblue{color:#47a4dc;background:#d5f6ff;border-color:#a6daff;}
.btn.blue{color:#ffffff;background:#70d1ed;border-color:#70d0dd;}
.btn.palepurple{color:#ffffff;background:#6077e7;border-color:#4447b2;}
.btn.purple{color:#ffffff;background:#4447b2;border-color:#3b20a9;}
.btn.yellow{color:#222222;background:#f3d623;border-color:#fffb17;}
.btn.red{color:#ffffff;background:#da0404;border-color:#c10000;}
.btn.black{color:#ffffff;background:#404040;border-color:#222222;}
.btn.disabled{cursor:not-allowed;color:#888888;background:#d2d2d2;border-color:#888888;opacity:0.6;}
.btn i{margin-right:0.5em;}
.btn.bg_icon{padding-left:30px;}
.btn.bg_icon span{display:block;position:absolute;top:0px;left:0px;width:30px;background:rgba(255,255,255,0.4);}
.btn.bg_icon span i{margin:0px;text-align:center;}
.btn.round{border-radius:50%;}
.btn.rec{border-radius:5px;}
.btn.round i, .btn.rec i{margin:0px;}
.btn.xsmall.round, .btn.xsmall.rec{min-width:20px;width:20px;height:20px;line-height:20px;font-size:11px;}
.btn.small.round, .btn.small.rec{min-width:40px;width:40px;height:40px;line-height:40px;font-size:18px;}
.btn.medium.round, .btn.medium.rec{min-width:80px;width:80px;height:80px;line-height:80px;font-size:22px;}
.btn.large.round, .btn.large.rec{min-width:110px;width:110px;height:110px;line-height:110px;font-size:28px;}

/* form */
.form{width:100%;font-size:14px;font-weight:700;}
.form td{padding:10px;}
.form input, .form select, .form textarea{font-family:'Noto Sans KR',sans-serif;font-size:14px;font-weight:700;}
.form .label{width:140px;font-size:16px;line-height:26px;text-align:center;color:#ffffff;background:#6077e7;}
.form input[type="text"], .form input[type="password"], .form input[type="date"]{display:inline-block;width:200px;height:28px;line-height:26px;padding:0 10px;margin:0px;border:1px solid #888888;box-sizing:border-box;}
.form input.wide{width:100%;}
.form input.half{width:calc(50% - 2px);}
.form td p:nth-child(2){margin-top:5px;}
.form select{display:inline-block;width:200px;height:28px;border:1px solid #888888;vertical-align:middle;box-sizing:border-box;}
.form textarea{display:block;width:100%;height:100px;box-sizing:border-box;border:1px solid #888888;resize:none;}
.form input[type="checkbox"], .form input[type="radio"]{margin: 0px 10px 2px 5px;}
#hour, #minute{width:60px;margin-left:10px;}
.form .image_wrapper{width:100%;height:auto;}
.form .image_wrapper li{position:relative;width:200px;height:220px;box-sizing:border-box;border:1px solid #888888;margin:0px 5px;float:left;}
.form .image_wrapper li:nth-child(1){margin-left:0px;}
.form .no_image .image{background:url(../img/common/no_image.png) no-repeat center center;}
.form .upload_image .image{text-align:center;}
.form .upload_image .image i{margin-top:54px;}
.form .image{position:relative;width:100%;height:150px;overflow:hidden;}
.form .image a{position:absolute;top:0px;left:0px;display:block;width:100%;height:100%;background:url(../img/common/download.png) no-repeat center center;background-color:rgba(0,0,0,0.4);opacity:0;}
.form .image:hover a{opacity:1;}
.form .info{position:relative;width:100%;height:70px;border-top: 1px solid #888888;box-sizing:border-box;padding:10px;text-align:center;}
.form .info i, .form .file i{margin-right:0.5em;}
.form .info span{position:absolute;bottom:10px;left:10px;display:block;width:50px;height:16px;font-size:12px;line-height:16px;color:#ffffff;background:#4447b2;}
.form .info a{position:absolute;bottom:10px;right:10px;display:block;width:20px;height:20px;background:url(../img/common/del.png) no-repeat center center;}
.form input[type="file"]{display:block;margin-top:10px;}
.form .file_wrapper li{position:relative;height:28px;line-height:26px;border:1px solid #888888;padding:0px 200px 0px 10px;margin-top:5px;overflow:hidden;}
.form .file_wrapper li:nth-child(1){margin-top:0px;}
.form .file_wrapper span{position:absolute;top:6px;right:10px;width:50px;height:16px;font-size:12px;line-height:16px;color:#ffffff;background:#4447b2;text-align:center;}
.form .file_wrapper a:hover{color:#4447b2;}
.form .file_wrapper .del{position:absolute;top:4px;right:70px;width:20px;height:20px;background:url(../img/common/del.png) no-repeat center center;background-size:contain;}

/* list_view */
.list_search{width:100%;height:100px;}
.list_search>li{width:32%;margin-left:2%;margin-bottom:10px;float:left;}
.list_search>li:nth-child(1){margin-left:0px;}
.list_search>li:last-child{margin-right:0px;}
.list_search .half{width:49%;margin-left:0px;margin-right:2%;float:left;}
.list_search li label{display:inline-block;min-width:90px;height:30px;font-size:14px;line-height:28px;color:#ffffff;font-weight:700;text-align:center;vertical-align:middle;margin-right:10px;background:#6077e7;}
.list_search li input[type="text"], .list_search li input[type="date"], .list_search li select{width:30%;height:30px;font-family:'Noto Sans KR',sans-serif;font-size:14px;font-weight:700;line-height:28px;border:1px solid #888888;padding:0px 10px;}
.list_info{font-size:14px;font-weight:700;line-height:26px;}
.list_info em{color:#e60c0c;}
.list td .image{max-width:130px;height:80px;overflow:hidden;margin:auto;}
.list td .image img{height:100%;}
.list td .btn.rec{display:inline-block;}
.list td .btn.rec.del{background:url(../img/common/del.png) no-repeat center center;background-color:#ffeaea;}
.list td .btn.rec.disabled{background:url(../img/common/del.png) no-repeat center center;opacity:0.3;}
.list td .btn.rec.edit{background:url(../img/common/edit.png) no-repeat center center;background-color:#404040;}
.pagination{margin-top:20px;}
.pagination i{vertical-align:2px;}
.pagination ol{display:inline-block;}
.pagination ol li{display:inline-block;}
.pagination ol li a{border:none;}
.pagination ol li a:hover{background:#d5f6ff;}
.pagination ol li a.on{color:#ffffff;font-weight:700;background:#4447b2;}
.pagination ol li a.on:hover{background:#4447b2;}