@charset "utf-8";
@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

/* common */

html{font-family:'Noto Sans KR',sans-serif;color:#222222;
    /* Support for all WebKit browsers. */-webkit-font-smoothing:antialiased;
    /* Support for Safari and Chrome. */text-rendering:optimizeLegibility;
    /* Support for Firefox. */-moz-osx-font-smoothing:grayscale;}
.mobile{display:none;}

/* index */
#splash{display:none;}